body {
  font-family: KaiIi;
  color: blue;
}
ul li#li1 {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  font-family: "Microsoft YaHei";
}
ul li#li2 {
  background-color: #9999cc;
  letter-spacing: 1px;
}
ul li#li3 {
  font-size: 18px;
  color: red;
}
