body {
  font-family: "Microsoft YaHei";
}

.header {
  font-family: "Microsoft YaHei";
  font-size: 18px;
  text-decoration-line: underline;
  color: blue;
}
.header .searched {
  text-decoration-line: underline;
  color: red;
}

.content {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: black;
}
.content .searched {
  color: red;
}

.footer .link {
  text-decoration-line: none;
  color: green;
}
.footer .snapshot,
.comment {
  text-decoration-line: underline;
  color: grey;
}
